#header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-sub-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 30%;
}

.chat-window {
    background-color: lightgrey;
    overflow-y: scroll;
    height:40%;
}