#header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-sub-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 30%;
}

.chat-window {
    display: flex;
	flex-direction: column-reverse;
    background-color: lightgrey;
    overflow-y: scroll;
    min-height: 1vh;
    max-height: 50vh;
}

.chat-field{
    border: 1px solid grey;
}

.user-private-rooms {
    display: block;
    background-color: lightgrey;
    overflow-y: scroll;
    max-height:5vh;
    max-height:60vh;
}

.private-room-field a{
    border: 1px solid grey;
    font-size: xx-large;
    color: black;
    text-decoration:none;
    display: block;
}

.public-chat-table-container{
    max-height: 40vh;
    overflow-y: scroll;
    width: 80%;
}

.public-chat-table{
    width: 100%;
    border: 1px solid black;
}

.public-chat-table tbody{
    background-color: lightgray;
}

.public-chat-table td{
    border: 1px solid grey;
}

.user-public-chat-table{
    width: 80%;
    border: 1px solid black;
}

.user-public-chat-table tbody{
    background-color: lightgray;
    min-height: 1vh;
}

.user-public-chat-table td{
     border: 1px solid grey;
}
