#header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-sub-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 30%;
}

.chat-window {
    display: flex;
	flex-direction: column-reverse;
    background-color: lightgrey;
    overflow-y: scroll;
    min-height: 5vh;
    max-height: 60vh;
}

.chat-field{
    border: 1px solid grey;
}

.user-private-rooms {
    background-color: lightgrey;
    overflow-y: scroll;
    min-height: 5vh;
    max-height: 80vh;
}

.private-room-field a{
    border: 1px solid grey;
    font-size: xx-large;
    color: black;
    text-decoration:none;
}