{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    {% block div_header %}{% endblock %}
</header>

<div class="content">
    {% block div_content %}{% endblock %}
</div>

<footer class="footer">
    {% block div_footer %} <br><a href="{% url 'chat:home' %}">Back to home</a><p>© 2025 Chat App</p>{% endblock %}
</footer>

</body>
</html>