{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block div_header %}
<h1>Chat App</h1>
<div id="header-sub">
    <p>Welcome to Chat App guest</p>
    <div id="header-sub-buttons">
        <a href="{% url 'chat:login' %}">Log In</a> |
        <a href="{% url 'chat:signup' %}">Sign Up</a>
    </div>
</div>
{% endblock %}


{% block div_content %}
<p>Please create an account or log into an existing one.</p><br>
{% endblock %}

{% block div_footer %}<p>© 2025 Chat App</p>{% endblock %}

