{% extends "base.html" %}
{% load static %}

{% block title %}
Public Chat
{% endblock %}


{% block div_header %}
<h1>Public Chat Room</h1>
<h2>Room ID : {{  url_id  }}</h2>
{% endblock %}


{% block div_content %}
<div class="chat-window">
    {% for m in chat_msgs %}
    <div class="chat-field">
        <label class="chat-date">{{  m.time_stamp|date:'d.m.y H:i'  }}</label>
        <label class="chat-name">{{  m.user.username  }}</label>
        <p class="chat-msg">{{  m.content  }}</p>
    </div>
    {% endfor %}
</div>
<form method="POST">
    {% csrf_token %}
    {{  form.as_p  }}
    <button type="submit">Send</button>
</form>
{% endblock %}
