{% extends "base.html" %}
{% load static %}

{% block title %}
Public Chat
{% endblock %}


{% block div_header %}
<h1>Public Chat Room</h1>
<ul>
    <li>Room ID : {{  room.url_id  }}</li>
    <li>Name : {{  room.name  }}</li>
    <li>Owner : {{  room.owner  }}</li>
</ul>
{% endblock %}


{% block div_content %}
<div class="chat-window">
    {% for m in chat_msgs %}
    <div class="chat-field">
        <label class="chat-date">{{  m.time_stamp|date:'d.m.y H:i'  }}</label>
        <label class="chat-name">{{  m.user.username  }}</label>
        <p class="chat-msg">{{  m.content  }}</p>
    </div>
    {% endfor %}
</div>
<button onClick="window.location.href=window.location.href">Refresh Chat</button>
<form method="POST">
    {% csrf_token %}
    {{  form.as_p  }}
    <button type="submit">Send</button>
</form>
{% endblock %}


{% block div_footer %} 
<br><a href="{% url 'chat:user-public-chats' user_id=user.id %}">To Public Chat Rooms</a><br>
<br><a href="{% url 'chat:home' %}">Back to home</a><p>© 2025 Chat App</p>
{% endblock %}

