{% extends "base.html" %}
{% load static %}

{% block title %}
Private Chat
{% endblock %}


{% block div_header %}
<h1>Private Chat Room</h1>
<p>Chat of  {{  user_1  }} and {{  user_2  }}</p>
{% endblock %}


{% block div_content %}
<div class="chat-window">
    {% for m in chat_msgs %}
    <div class="chat-field">
        <label>{{  m.time_stamp|date:'H:i'  }}</label>
        <label>{{  m.user.username  }}</label>
        <p>{{  m.content  }}</p>
    </div>
    {% endfor %}
</div>
<form method="POST">
    {% csrf_token %}
    {{  form.as_p  }}
    <button type="submit">Send</button>
</form>
{% endblock %}
